/*----------------navbar----------------*/

.navbar {
    grid-area: nav;
    background: #2a2c2e;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
  }
  
  .item {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }
  
  .item:hover {
    text-decoration: underline;
  }