/*----------------------profile-info------------------*/

.profileInfo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  
  .img img {
    height: 50px;
  }
  
  .title h3 {
    margin: 0;
  }

  .descriptionItem {
    font-weight: 700;
  }